* {
    margin: 8px;
    border-radius: 4px;
    font-family: arial;
    font-size: 36px;
    color: #d9a34c;
    -webkit-text-stroke: 1px black;
    font-weight: bold;
}

body {
    background-color: gold;
    text-align: center;
}

input {
    color: gold;
    background-color: #d9a34c;
}

a {
    text-decoration: none;
    transition: 0.35s;
}

a:hover {
    font-size: 37px;
}

input[type='submit'] {
    transition: 0.35s;
}


input[type='submit']:hover {
    transform: scale(1.08);
}
